:host {
  font-family: Roboto;
  letter-spacing: 0.1rem;
}

.details-button {
  float: right;
  margin-top: -2.1rem;
}

.chip {
  max-width: 44.5rem;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.chip-percent {
  font-family: monospace;
  font-weight: normal;
}

.word-detail-card {
  font-family: Roboto,sans-serif;
  margin-bottom: 0.5rem;
  letter-spacing: 0rem;
}

.detail-inner-label{
  color: #4d4d4d;
}

.occur-label {
  margin-left: -0.5rem;
}

.detail-inner-value {
  font-weight: 800;
  color: #595959;
}

.detail-inner-para {
  color: #4d4d4d;
}

.card-actions {
  padding-left: 0.5rem;
}

.detail-inner-title {
  margin-left: -1rem;
}

.card-action-icon {
  margin-bottom: 0.1rem;
}

.counter-section {
  text-align: right;
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  margin-top: -2.7rem;
}

.stop-word-toggle-label {
  font-size: 0.8rem;
}

/* ----------- iPhone 4 and above ----------- 
 * Move word counter section to new line
 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) {
    .counter-section {
      text-align: left;
      margin: auto;
    }
}