#input {
  text-align: center;
  max-width: 50rem;
}

.input-area {
  min-height: 9rem;
  min-width: 100%;
  max-width: 50rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: #4d4d4d;
}

.example-button-section {
  float: left;
  padding-bottom: 0.5rem;
}

.example-button {
  background-color: #e6ffcc;
  font-family: Roboto,sans-serif;
}