.text-title {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.8rem;
  min-height: 5rem;
  max-height: 5rem;
  color: #999999;
  margin-bottom: -2.5rem;
}

.subtitle {
  font-family: 'Cairo', sans-serif;
  font-size: 0.9rem;
  color: #4d4d4d;
  line-height: 1.4rem;
}

.version {
  font-size: 0.7rem;
}