.text-title {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.8rem;
  min-height: 5rem;
  max-height: 5rem;
  color: #999999;
}

.subtitle {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9rem;
  color: #808080;
}

.version {
  font-size: 0.7rem;
}